# Secrets
.env

# Generated configuration files
infrastructure/postgres/init/*.sql
infrastructure/rabbitmq/definitions.json
infrastructure/clickhouse/config.xml
infrastructure/clickhouse/users.xml
infrastructure/clickhouse/named_collections.xml
infrastructure/prometheus/prometheus.yml

# Volumes
volumes/

# Binaries
bin/

# Logs
*.log
tilt.log

# OS
.DS_Store

# tmp
/tmp

# defs
*.sqlite3
