name: raidhub-services

services:
  postgres:
    image: postgres:13
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
      - ./infrastructure/postgres/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.8-management
    environment:
      RABBITMQ_DEFAULT_USER: "${RABBITMQ_USER}"
      RABBITMQ_DEFAULT_PASS: "${RABBITMQ_PASSWORD}"
      RABBITMQ_DEFINITIONS_FILE: /etc/rabbitmq/definitions.json
    ports:
      - "${RABBITMQ_PORT:-5672}:5672"
      - "${RABBITMQ_UI_PORT:-15672}:15672"
    volumes:
      - ./volumes/rabbitmq:/var/lib/rabbitmq
      - ./infrastructure/rabbitmq/definitions.json:/etc/rabbitmq/definitions.json

  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - "${CLICKHOUSE_PORT:-9000}:9000"
      - "${CLICKHOUSE_HTTP_PORT:-8123}:8123"
    environment:
      CLICKHOUSE_USER: "${CLICKHOUSE_USER}"
      CLICKHOUSE_PASSWORD: "${CLICKHOUSE_PASSWORD}"
    volumes:
      - ./volumes/clickhouse:/var/lib/clickhouse
      - ./infrastructure/clickhouse/users.xml:/etc/clickhouse-server/users.d/users.xml

  prometheus:
    image: prom/prometheus
    ports:
      - "${PROMETHEUS_PORT:-9090}:9090"
    volumes:
      - ./volumes/prometheus:/prometheus
      - ./infrastructure/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "${GRAFANA_PASSWORD}"
      GF_SECURITY_ADMIN_USER: "${GRAFANA_USER}"
    volumes:
      - ./volumes/grafana:/var/lib/grafana
      - ./infrastructure/grafana/provisioning:/etc/grafana/provisioning

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --config /etc/cloudflared/config.yml run
    volumes:
      - ./infrastructure/cloudflared/config.yml:/etc/cloudflared/config.yml:ro
      - ./infrastructure/cloudflared/tunnel.yml:/etc/cloudflared/tunnel.yml:ro
    environment:
      TUNNEL_TOKEN: "${CLOUDFLARE_TUNNEL_TOKEN:-}"
    depends_on:
      - prometheus
      - grafana
    profiles:
      - tunnel
